.profile-picture__image {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  padding: 7cqi;
  width: 100%;
}

.profile-picture__placeholder {
  align-items: center;
  background-color: var(--app-background);
  border-radius: 50%;
  border: 1px solid var(--bluish-grey);
  color: var(--element-background);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 7cqi;
  width: 100%;
}
