.flash-message {
  animation: fadeInOut 3s ease-in-out;
  background-color: var(--green);
  color: white;
  font-weight: 700;
  left: 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 5;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
