.classes__page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow-y: auto;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.classes-headline {
  color: var(--text);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.classes__list .class__card {
  margin-bottom: 1rem;
}
