.modal-profile-picture__wrapper {
  align-self: center;
  justify-self: center;
  margin-bottom: -26cqi;
  position: relative;
  transform: translate(0, -60%);
  width: max-content;
}

.modal-profile-picture {
  container-type: inline-size;
  height: clamp(6rem, 40vw, 15rem);
  object-fit: cover;
  width: clamp(6rem, 40vw, 15rem);
}

.modal-profile-picture__circle-checked {
  background-color: white;
  border-radius: 50%;
  bottom: 0;
  height: 30cqi;
  position: absolute;
  right: 0.75rem;
  width: 30cqi;
  z-index: 1;
}

.modal-profile-picture__circle-checked::before {
  border-bottom: 2cqi solid var(--green);
  border-right: 2cqi solid var(--green);
  content: '';
  display: inline-block;
  height: 15cqi;
  position: absolute;
  right: 10cqi;
  top: 5cqi;
  transform: rotate(45deg);
  width: 8cqi;
}

.modal-profile-picture__circle-dashed,
.modal-profile-picture__circle-animated {
  height: clamp(6rem, 40vw, 15rem);
  position: absolute;
  transform: translate(0, -100%) rotate(2deg);
  width: clamp(6rem, 40vw, 15rem);
  z-index: -1;
}

.modal-profile-picture__circle-animated {
  animation: spin 45s linear infinite;
}

@keyframes spin {
  100% {
    transform: translate(0, -100%) rotate(360deg);
  }
}
